@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Ubuntu';
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*:link {
    color: inherit;
}

*:visited
{
    color: inherit;
}

body {
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
